.registration_user

  .registration_user__header
    = link_to image_tag('logo.png', width: '185', alt: 'logo', class: "head_logo"), 'http://google.co.jp'

    .signup_bar
      《会員情報》ーー電話番号認証ーー完了

  .registration_user__main
    .head
      会員情報入力

    .form
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = render "devise/shared/error_messages", resource: resource

        .nickname
          .label
            = f.label "ニックネーム"
            .require
              必須
          = f.text_field :nickname, placeholder: "例) フリマ太郎", class: "input-nickname"
        
        .email
          .label
            = f.label "メールアドレス"
            .require
              必須
          = f.text_field :email, placeholder: "メールアドレス", class: "input-email"

        .password
          .label
            = f.label "パスワード"
            .require
              必須
            - if @minimum_password_length
              %em
                (#{@minimum_password_length}文字以上の半角英数)
          = f.text_field :password, placeholder: "パスワード", class: "input-password"
          

        .coution_password
          ※ 英字と数字の両方を含めて設定してください


        .attension_safety
          %h3
            本人確認
          %p
            安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。
            %br
            他のお客さまに公開されることはありません。
            
        .name_kanji
          .label
            = f.label "お名前(全角)"
            .require
              必須
            %br/
          .input-name-kanji
            = f.text_field :family_name, placeholder: "例) 山田",class: "input-family-name-kanji"
            = f.text_field :user_name, placeholder: "例) 彩", class: "input-user-name-kanji"

        .name_kana
          .label
            = f.label "お名前カナ(全角)"
            .require
              必須
            %br/
          .input-name-kana
            = f.text_field :family_name_kana, placeholder: "例) ヤマダ", class: "input-family-name-kana"
            = f.text_field :user_name_kana, placeholder: "例) アヤ", class: "input-user-name-kana"

        .birthdate
          .label
            = f.label "生年月日"
            .require
              必須
          .birthdate--selecter
            != sprintf(f.date_select(:birthday, prefix:'birthday',with_css_classes:'XXXXX', prompt:"---",use_month_numbers:true, start_year:Time.now.year, end_year:1900, date_separator:'%s'),'年','月')+'日'
        .attension_personal
          ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
        
        .warning_terms
          「次へ進む」のボタンを押すことにより、
          %a{ href: 'http://google.co.jp', class: '.riyou-kiyaku'}
            利用規約
          に同意したものとみなします

        %a{ href: 'http://google.co.jp', class: "next_btn"}
          次へ進む

        %a{ href: 'http://google.co.jp', class: "furima_guide"}
          本人情報の登録について>

        .recaptcha
          This site is protected by reCAPTCHA and the Google
          %a{ href: 'http://google.co.jp', class: 'google_privacy_policy' }
            Privacy Policy
          and
          %a{ href: 'http://google.co.jp', class: 'google_tos'}
            Terms of Service
          apply.



  .registration_user__footer
    .link_bar
      %a{ href: 'http://google.co.jp', class: 'furima_pp'}
        プライバシーポリシー
      %a{ href: 'http://google.co.jp', class: 'furima_tos'}
        フリマ利用規約
      %a{ href: 'http://google.co.jp', class: 'furima_sctm'}
        特定商取引に関する表記



    .footer_logo
      %a{ href: 'http://google.co.jp'}
        = image_tag 'logo.png', width: '160', height: '50'

    %small
      ©︎Furima, Inc.