=render "/items/header"
- breadcrumb :mypage
= render "layouts/breadcrumbs"
.user-show
  =render "sidebar"
  .user-show-page
    .user-show-page__main
      %section.user-show-page__main__icon
        =link_to"#",class:"user-show-page__main__icon__link" do
          %figure
            = image_tag asset_path 'yu-za-.jpg', alt: "", height: "60", width: "60", class: "user-show-page__main__icon__link__photo"
          %h2.user-show-page__main__icon__link__name
            = current_user.nickname
          .user-show-page__main__icon__link__situation
            %div
              %span.user-show-page__main__icon__link__situation__good
            %div.good-sukima
              出品数
              %span.user-show-page__main__icon__link__situation__item
                = @items.length
      %section.user-show-page__main__todo
        .user-show-page__main__todo__under-tabs
          .user-show-page__main__todo__under-tabs__product-list
            .user-show-page__main__todo__under-tabs__product-list__title 
              お気に入り一覧
            .user-show-page__main__todo__under-tabs__product-list__contents
              - @bookmark_items.each do |b|
              - break if @items.nil?
                .user-show-page__main__todo__under-tabs__product-list__contents__content
                  = link_to image_tag(@images.find_by(item_id:[b.id]).image_url, class:"img" ), item_path(b)
                  -if b.buyer_id.present?
                    .photo-line-li__sold
                      .photo-line-li__sold__inner SOLD
                  .user-show-page__main__todo__under-tabs__product-list__contents__content__body
                    .user-show-page__main__todo__under-tabs__product-list__contents__content__body__name
                      = b.title
                    .user-show-page__main__todo__under-tabs__product-list__contents__content__body__text
                      = converting_to_jpy(b.price)
                      %span (税込)
                    .user-show-page__main__todo__under-tabs__product-list__contents__content__body__favorite
                      %i.fas.fa-star
                      = b.bookmarks.length
            .user-show-page__main__todo__under-tabs__product-list__title 
              出品商品一覧
            .user-show-page__main__todo__under-tabs__product-list__contents
              - @items.each do |b|
              - break if @items.nil?
                .user-show-page__main__todo__under-tabs__product-list__contents__content
                  = link_to image_tag(@images.find_by(item_id:[b.id]).image_url, class:"img" ), item_path(b)
                  -if b.buyer_id.present?
                    .photo-line-li__sold
                      .photo-line-li__sold__inner SOLD
                  .user-show-page__main__todo__under-tabs__product-list__contents__content__body
                    .user-show-page__main__todo__under-tabs__product-list__contents__content__body__name
                      = b.title
                    .user-show-page__main__todo__under-tabs__product-list__contents__content__body__text
                      = converting_to_jpy(b.price)
                      %span (税込)
                    .user-show-page__main__todo__under-tabs__product-list__contents__content__body__favorite
                      %i.fas.fa-star
                      = b.bookmarks.count
=render "/items/footer"