=render "items/header"
.search-main
  .search-main__left
    = search_form_for(@q, url: items_searches_path(@item)) do |f|
      = f.select(:sorts, { '並び替え': 'id desc', '価格の安い順': 'price asc', '価格の高い順': 'price desc', '出品の古い順': 'updated_at asc', '出品の新しい順': 'updated_at desc' }, { selected: params[:q][:sorts] }, { onchange: 'this.form.submit()'} )
      .search-main__left__form
        .search-main__left__form__title 詳細検索
        .search-main__left__form__group
          .search-main__left__form__group__label
            %i.fas.fa-shopping-cart 販売状況
          .search-main__left__form__group__checkbox
            %label
              = f.check_box :buyer_id_null, {onchange: 'this.form.submit()', class: "detail-checkbox"}, 1, nil
              販売中の商品

        .search-main__left__form__group
          .search-main__left__form__group__label
            %i.fas.fa-plus キーワードを追加する
          = f.search_field :title_cont, class: "search-main__left__form__group__form", placeholder: "例）値下げ", value: params[:keyword]
        .search-main__left__form__group
          .search-main__left__form__group__label
            %i.fas.fa-coins 価格
          .search-main__left__form__group__forms
            = f.search_field :price_gteq, class: "search-main__left__form__group__form detail_form-mini", placeholder: "¥ Min"
            %span 〜
            = f.search_field :price_lteq, class: "search-main__left__form__group__form detail_form-mini", placeholder: "¥ Max"
        .search-main__left__form__group
          .search-main__left__form__group__label
            %i.fas.fa-star 商品の状態
          .search-main__left__form__group__checkbox
            %label
              %input{type: "checkbox", class: "detail-checkbox", id: "checkAll-status"}
              すべて
          .search-main__left__form__group__checkbox
            %label
              = f.check_box :status_id_in, {multiple: true, class: "detail-checkbox"}, 1, nil
              新品、未使用
          .search-main__left__form__group__checkbox
            %label
              = f.check_box :status_id_in, {multiple: true, class: "detail-checkbox"}, 2, nil
              未使用に近い
          .search-main__left__form__group__checkbox
            %label
              = f.check_box :status_id_in, {multiple: true, class: "detail-checkbox"}, 3, nil
              目立った傷や汚れなし
          .search-main__left__form__group__checkbox
            %label
              = f.check_box :status_id_in, {multiple: true, class: "detail-checkbox"}, 4, nil
              やや傷や汚れあり
          .search-main__left__form__group__checkbox
            %label
              = f.check_box :status_id_in, {multiple: true, class: "detail-checkbox"}, 5, nil
              傷や汚れあり
          .search-main__left__form__group__checkbox
            %label
              = f.check_box :status_id_in, {multiple: true, class: "detail-checkbox"}, 6, nil
              全体的に状態が悪い
          
        .search-main__left__form__group
          .search-main__left__form__group__label
            %i.fas.fa-truck 配送料の負担
          .search-main__left__form__group__checkbox
            %label
              %input{type: "checkbox", class: "detail-checkbox", id: "checkAll-delivery_charge"}
              すべて
          .search-main__left__form__group__checkbox
            %label
              = f.check_box :delivery_charge_id_in, {multiple: true, class: "detail-checkbox"}, 1, nil
              送料込み(出品者負担)
          .search-main__left__form__group__checkbox
            %label
              = f.check_box :delivery_charge_id_in, {multiple: true, class: "detail-checkbox"}, 2, nil
              着払い(購入者負担)
          
        .search-main__left__form__btns
          = link_to 'クリア', items_searches_path(@item), class: "search-main__left__form__btns--gray"
          = f.submit '完了', class: "search-main__left__form__btns--red"

  .search-main__right
    .search-main__right__title
      - if @keyword.present?
        %span.huge #{@keyword}
        の検索結果
      - else
        %span.huge 検索結果
    .search-main__right__number
      = page_entries_info @items, entry_name: 'item'
    .search-main__right__result
      = render partial: 'item', collection: @items
    .search-main__right__pagenate
      = paginate(@items)
=render "items/appBanner"
=render "items/footer"
=render "items/displayBtn"
