.login
  .login__header
    = link_to image_tag('logo.png', width: '185', alt: 'logo', class: "logo"), '#'

  .login__main
    .login_board
      .no_account
        .guidance_registrations
          アカウントをお持ちでない方はこちら
        = link_to "新規会員登録", "http://www.google.com", class: "create_account_btn"

      .sns_api_login
        .facebook
          Facebookでログイン
        .google
          Googleでログイン

      .inner
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .field
            -# = f.label "メールアドレス"
            -# %br/
            = f.email_field :email, autocomplete: "email", class: "input_email"
          .field
            -# = f.label "パスワード"
            -# %br/
            = f.password_field :password, autocomplete: "current-password", class: "input_password"
          - if devise_mapping.rememberable?
            .recaptcha_box
              □　僕はロボットじゃないよ
          = link_to "ログイン", "http://www.google.com", class: "login_btn"

          = link_to "パスワードをお忘れの方", "http://www.google.com", class: "password_forgot"

  = render "items/footer"
