.header
  .header__main
    .header__main__upper-box
      = link_to image_tag('logo.png', width: '140', height: `40.55`, class: 'logo'), root_path

      .header__main__upper-box__search-box
        = form_with url: root_path do |f|
          = f.text_field :name, class: "search", placeholder: 'キーワードから探す'
          .send-btn
            = f.submit class: "btn"
            = image_tag 'icon-search 1.png', class: 'btn'
    .header__main__lower-box
      .header__main__lower-box__left-list
        = image_tag 'icon_category.png', height: '16', width: '16', class:"category-icon"
        .category-link
          カテゴリ
          %ul.category1
            - @parents.each do |parent|
              %li.parent__list
                = link_to parent.name
                %ul.category2
                  - parent.children.each do |child|
                    %li.child__list
                      =link_to child.name
                      %ul.category3
                        - child.children.each do |grandchild|
                          %li.grandchild__list
                            = link_to grandchild.name
        -# = image_tag 'icon_brand.png', height: '16', width: '16'
        -# = link_to 'ブランド', "#", class:"category-link"
      .right-list
        - if user_signed_in?
          - if flash[:notice]
            = flash[:notice]
          = link_to "マイページ", user_path(current_user), class: "right-list__btn"
          = link_to "ログアウト", logout_user_path(current_user), class: "right-list__btn"
        - else
          = link_to 'ログイン', new_user_session_path, class:"right-list__btn"
          = link_to '新規会員登録', new_user_registration_path, class:"right-list__btn"
