.edit-main
  = form_with(model: @item, local: true) do |f|
    .edit-main__head
      %h2 商品の情報を入力
    .edit-main__image-box
      .edit-main__image-box__flex
        .edit-main__image-box__flex__text
          %p 出品画像
        .edit-main__image-box__flex__label
          %p 必須
      .edit-main__image-box__maximum
        %p 最大10枚までアップロードできます
      .post__drop__box__container
        .prev-content
          //JSで挿入したhtmlと同じ形　each文でのプレビュー表示
          - @item.images.each do |image|
            .preview-box
              .upper-box
                = image_tag image.image.url, width: "112", height: "112", alt: "preview"
              .lower-box
                -# 今後実装予定
                -# .update-box
                -#   %label.edit-btn 編集
                .delete-box
                  .delete-btn
                    %span 削除
        .label-content
          //プレビューの数に合わせてforオプションを指定
          = f.label :"images_attributes_#{@item.images.length}_image", class: "label-box", id: "label-box--#{@item.images.length}" do
            %pre.label-box__text-visible クリックしてファイルをアップロード
        .hidden-content
          = f.fields_for :images do |i|
            //プレビューが出ている分のfile_fieldとdelete用のチェックボックスを設置
            = i.file_field :image, class: "hidden-field"
            = i.check_box:_destroy, class: "hidden-checkbox"
            //5つのfile_fieldを準備するに当たって、足りない分を表示
          - @item.images.length.upto(4) do |i|
            %input{name: "item[images_attributes][#{i}][image]", id: "item_images_attributes_#{i}_image", class:"hidden-field", type:"file"}


          -# = image_tag "#{@images[0].image}", alt: '', class: 'photo-big', width: "100", height: "100"
          -# = image_tag "#{@images[1].image}", alt: '', class: 'photo-big', width: "100", height: "100"
          -# = image_tag "#{@images[2].image}", alt: '', class: 'photo-big', width: "100", height: "100"
          -# = image_tag "#{@images[3].image}", alt: '', class: 'photo-big', width: "100", height: "100"
          -# = image_tag "#{@images[4].image}", alt: '', class: 'photo-big', width: "100", height: "100"
        %label
          = f.fields_for :images do |i|
            .js-file_group{data_index: "image.index"}
              = i.file_field :image, class: 'js-file'
              = image_tag("icon_camera.png", width:"25")
              .image-preview_btn_edit 編集
              %span.js-remove 削除
          -#   - if @item.persisted?
          -#     -# = image.check_box :_destroy, data:{ index: image.index }, class: "hidden-destroy"
          -# - if @item.persisted?
          -#   .js-file_group{"data-index" => "#{@item.images.count}"}
          -#   = file_field_tag :image, name: "item[images_attributes][#{@item.images.count}][image]", class: "js-file"
          -#   .js-remove 削除
          -#   .new-main__image-box__imagebox__FileSelect


    .edit-main__product-name
      .edit-main__product-name__flex
        .edit-main__product-name__flex__text
          %p 商品名
        .edit-main__product-name__flex__label
          %p 必須
      = f.text_field :title, class: 'edit-main__product-name__title', placeholder: "商品名（必須40文字まで）"
      .edit-main__product-name__introduction
        .edit-main__product-name__introduction__frame
          .edit-main__product-name__introduction__frame__text
            %p 商品の説明
          .edit-main__product-name__introduction__frame__label
            %p 必須
        = f.text_area :content, class: "edit-main__product-name__introduction__frame__content", placeholder: '商品の説明 (1000文字以内)(色、素材、重さ、定価、注意点など)例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。'

    .edit-main__details-box
      .edit-main__details-box__title
        %p 商品詳細
      .edit-main__details-box__right
        .edit-main__details-box__flex
          .edit-main__details-box__flex__text
            %p カテゴリー
          .edit-main__details-box__flex__label
            %p 必須   
        .listing-select-wrapper
          .listing-select-wrapper__box
            -# = f.select :category, @category_parent_array, {}, {class: 'listing-select-wrapper__box--select', id: 'parent_category', name: 'item[category_id]'}
            -# %i.fas.fa-chevron-down.listing-select-wrapper__box--arrow-down

        .edit-main__details-box__status
          .edit-main__details-box__status__flex
            .edit-main__details-box__status__flex__text
              %p 商品の状態
            .edit-main__details-box__status__flex__label
              %p 必須
            .edit-main__details-box__status__flex__flame
              .edit-main__details-box__status__flex__flame__form
          = f.select :status, [["選択してください", :'---'],["新品、未使用", :unused],["未使用に近い", :nearly_unused],["目立った傷や汚れなし", :not_injured],["やや傷や汚れあり", :bit_injured],["傷や汚れあり", :injured],["全体的に状態が悪い", :bad]]
        
    .edit-main__delivery-box
      .edit-main__delivery-box__title
        %p 配送について
      .edit-main__delivery-box__right
        .edit-main__delivery-box__right__flex
          .edit-main__delivery-box__right__flex__text
            %p 配送料の負担
          .edit-main__delivery-box__right__flex__label
            %p 必須
        = f.select :delivery_charge, [["選択してください", 0],["送料込み", 1],["着払い", 2]]
        .edit-main__delivery-box__right__flexs
          .edit-main__delivery-box__right__flexs__text
            %p 配送の方法
          .edit-main__delivery-box__right__flexs__label
            %p 必須
        = f.select :delivery_origin, [["選択してください", 0],["未定", 1],["チャリ", 2]]
        .edit-main__delivery-box__right__flexed
          .edit-main__delivery-box__right__flexed__text
            %p 発送元の地域
          .edit-main__delivery-box__right__flexed__label
            %p 必須
        = f.collection_select :prefecture_id, Prefecture.all, :id, :name, prompt: "---", class: "edit-main__delivery-box__price__address"
        .edit-main__delivery-box__right__flexz
          .edit-main__delivery-box__right__flexz__text
            %p 発送までの日数
          .edit-main__delivery-box__right__flexz__label
            %p 必須
        = f.select :delivery_days, [["選択してください", 0],["１〜２日で発送", 1],["２〜３日で発送", 2],["４〜７日で発送",3]]
    
    .edit-main__exhibition-box
      .edit-main__exhibition-box__price
        %p 価格（¥300〜9,999,999）
      .edit-main__exhibition-box__profit
        .edit-main__exhibition-box__profit__sale
          .edit-main__exhibition-box__profit__sale__text
            %p 販売価格
          .edit-main__exhibition-box__profit__sale__label
            %p 必須
          .edit-main__exhibition-box__profit__sale__box
            %span ¥
            = f.number_field :price, placeholder: "0"

        .edit-main__exhibition-box__profit__commission
          .edit-main__exhibition-box__profit__commission__text
            %p 販売手数料（10%）
        .edit-main__exhibition-box__profit__hr
        .edit-main__exhibition-box__profit__total
          .edit-main__exhibition-box__profit__total__text
            %p 販売利益
          .edit-main__exhibition-box__profit__total__line
        .edit-main__exhibition-box__profit__flame
          = f.submit '出品する', class: 'submit-btn'
          = f.button '下書きに保存', class: 'btn'



-# .main
-#   .head
-#     %h2 商品の情報を入力
-#   = form_with model: @product, class: "form", id: "product-form-edit" do |f|
-#     .form-image
-#       .form-image__title
-#         %label 出品画像
-#         %span 必須
-#         .form-image__text 最大10枚までアップロードできます
-#         .clearfix
-#           %ul#previews
-#             = f.fields_for :image do |image|
-#               - @product.images.each_with_index do |img, i|
-#                 %li.image-preview
-#                   %label.upload-label{style:"display: none;"}
-#                     .upload-label__text
-#                       ドラッグアンドドロップ
-#                       %br
-#                       またはクリックしてファイルをアップロード
-#                       .input-area
-#                         = image.file_field :name, value: img.name ,class: "hidden image_upload"
-#                         = image.hidden_field :id, value: img.id, name:"product[image][#{i}]"
-#                   .image-preview__wapper
-#                     = image_tag img.name.to_s, class:"preview"
-#                   .image-preview_btn
-#                     .image-preview_btn_edit 編集
-#                     .image-preview_btn_delete 削除