.logo-box
  = link_to image_tag("logo.png", width:"130", alt:"logo")
.new-main
  = form_with(model: @item, local: true) do |f|
    .new-main__image-box
      .new-main__image-box__flex
        .new-main__image-box__flex__text
          %p 出品画像
        .new-main__image-box__flex__label
          %p 必須
      .new-main__image-box__maximum
        %p 最大10枚までアップロードできます
      .new-main__image-box__frame
        .new-main__image-box__image
          = f.label :image, class:"new-main__image-box__new-image__icon"
          = image_tag("icon_camera.png", width:"25")
          = f.fields_for :images, class: "new-main__image-box__image" do |i|
            = i.file_field :image, class: "new-main__image-box__image__input"
            .new-main__image-box__imagebox__FileSelect
      .new-main__image-box__errer
        %p 画像がありません

    .new-main__product-name
      .new-main__product-name__flex
        .new-main__product-name__flex__text
          %p 商品名
        .new-main__product-name__flex__label
          %p 必須
      = f.text_field :title, class: 'new-main__product-name__title'
      .new-main__product-name__introduction
        .new-main__product-name__introduction__frame
          .new-main__product-name__introduction__frame__text
            %p 商品の説明
          .new-main__product-name__introduction__frame__label
            %p 必須
        = f.text_area :content, class: "new-main__product-name__introduction__frame__content", placeholder: '商品の説明 (1000文字以内)(色、素材、重さ、定価、注意点など) 例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。'
        .new-main__product-name__introduction__math
          %p 0/1000


    .new-main__details-box
      .new-main__details-box__title
        %p 商品詳細
      .new-main__details-box__flex
        .new-main__details-box__flex__text
          %p カテゴリー
        .new-main__details-box__flex__label
          %p 必須   
      = f.select :category_id, [["選択してください", 0],["レディース", 2],["メンズ", 2],["ベビー・キッズ",3],["インテリア・住まい・小物",4]] 
      .new-main__details-box__status
        .new-main__details-box__status__flex
          .new-main__details-box__status__flex__text
            %p 商品の状態
          .new-main__details-box__status__flex__label
            %p 必須
          .new-main__details-box__status__flex__flame
            .new-main__details-box__status__flex__flame__form
        = f.select :status, [["選択してください", :'---'],["新品、未使用", :unused],["未使用に近い", :nearly_unused],["目立った傷や汚れなし", :not_injured],["やや傷や汚れあり", :bit_injured],["傷や汚れあり", :injured],["全体的に状態が悪い", :bad]]
        

    .new-main__delivery-box
      .new-main__delivery-box__title
        %p 配送について
      .new-main__delivery-box__flex
        .new-main__delivery-box__flex__text
          %p 配送料の負担
        .new-main__delivery-box__flex__label
          %p 必須
      = f.select :delivery_charge, [["選択してください", 0],["送料込み", 1],["着払い", 2]]
      .new-main__delivery-box__price
        .new-main__delivery-box__price__flex
          .new-main__delivery-box__price__flex__text
            %p 発送元の地域
          .new-main__delivery-box__price__flex__label
            %p 必須
        = f.collection_select :prefecture_id, Prefecture.all, :id, :name, prompt: "---", class: "new-main__delivery-box__price__address"
      .new-main__delivery-box__days
        .new-main__delivery-box__days__flex
          .new-main__delivery-box__days__flex__text
            %p 発送までの日数
          .new-main__delivery-box__days__flex__label
            %p 必須
        = f.select :delivery_days, [["選択してください", 0],["１〜２日で発送", 1],["２〜３日で発送", 2],["４〜７日で発送",3]]
    

    .new-main__exhibition-box
      .new-main__exhibition-box__price
        %p 価格（¥300〜9,999,999）
      .new-main__exhibition-box__profit
        .new-main__exhibition-box__profit__sale
          .new-main__exhibition-box__profit__sale__text
            %p 販売価格
          .new-main__exhibition-box__profit__sale__label
            %p 必須
          .new-main__exhibition-box__profit__sale__box
            %span ¥
            = f.number_field :price, placeholder: "0"

        .new-main__exhibition-box__profit__commission
          .new-main__exhibition-box__profit__commission__text
            %p 販売手数料（10%）
        .new-main__exhibition-box__profit__hr
        .new-main__exhibition-box__profit__total
          .new-main__exhibition-box__profit__total__text
            %p 販売利益
          .new-main__exhibition-box__profit__total__line
        .new-main__exhibition-box__profit__flame
          = f.submit '出品する', class: 'submit-btn'
          = f.button '下書きに保存', class: 'btn'
          %a もどる
        %p 禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。