=render "header"
.show-main
  .show-main__content-left
  .show-main__content-right
    .show-main__content-top

      .show-main__content-top__item-box
        %h2.show-main__content-top__item-box__name
          #{@item.title}
        .show-main__content-top__item-box__body
          %ul.photo-line-ul
            %li.photo-line-li
              = image_tag "#{@images[0].image}", alt: '', class: 'photo-big'
              -if @item.buyer_id.present?
                .photo-line-li__sold
                  .photo-line-li__sold__inner SOLD
          %ul.photo-line-ul-under
            - [1,2,3].each do |i|
            - break if @images[i].nil?
              %li.photo-line-li-under
                = image_tag "#{@images[i].image}", alt: 'images', class: 'photo-small'
        .show-main__content-top__item-box__pricebox
          %span.show-main__content-top__item-box__pricebox__price
            #{converting_to_jpy(@item.price)}
          .show-main__content-top__item-box__pricebox__detail
            %span
              (税込)
            %span
              #{@item.delivery_charge.name}
        .show-main__content-top__item-box__item-detail
          #{@item.content}
        .show-main__content-top__item-box__table
          %table
            %tbody
              %tr
                %th
                  出品者
                %td
                  #{@seller.nickname}
                %tr
                  %th
                    カテゴリー
                  %td
                    =link_to "#",class:"kategori" do
                      #{@item.category.root.name}
                    %span <br>＞
                    =link_to "#",class:"kategori" do
                      #{@item.category.parent.name}
                    %span <br>＞
                    =link_to "#",class:"kategori" do
                      #{@item.category.name}
                %tr
                  %th
                    ブランド
                  %td
                    Amazon
                %tr
                  %th
                    発送方法
                  %td
                    #{@item.delivery_method.name}
                %tr
                  %th
                    商品の状態
                  %td
                    #{@item.status.name}
                %tr
                  %th
                    配送料の負担
                  %td
                    #{@item.delivery_charge.name}
                %tr
                  %th
                    配送元の地域
                  %td
                    =link_to "#",class:"tiiki" do
                      #{Prefecture.find(@item.prefecture_id).name}
                %tr
                  %th
                    配送日の目安
                  %td
                    #{@item.delivery_days.name}
        .show-main__content-top__item-box__area
          %ul
            .show-main__content-top__item-box__area__optional__btn-left
              %li#linke-btn.show-main__content-top__item-box__area__btn-left__link
                - if user_signed_in? && current_user.id == @item.seller_id 
                  %span
                    %icon.far.fa-star 
                    お気に入り数：
                    #{@item.bookmarks.count}
                -elsif user_signed_in?
                  -if @item.bookmarked_by?(current_user)
                    %span
                      %icon.fas.fa-star 
                      = link_to 'お気に入り解除:', item_bookmarks_path(@item.id) ,method: :delete
                      #{@item.bookmarks.count}
                  -else 
                    %span
                      %icon.far.fa-star 
                      = link_to 'お気に入り登録：', item_bookmarks_path(@item.id), method: :post
                      #{@item.bookmarks.count}
                - else
                  %span
                    %icon.far.fa-star
                    お気に入り数：
                    #{@item.bookmarks.length}
          %ul.show-main__content-top__item-box__area__optional
            =link_to "#",class:"show-main__content-top__item-box__area__optional__btn-right" do
              %li.show-main__content-top__item-box__area__optional__btn-right__link
                %icon.fa.fa-flag 
                不適切な商品の通報

        .show-main__content-top__btn-box 
          - if user_signed_in? && current_user.id == @item.seller_id
            = link_to '商品の編集', edit_item_path(@item), class:'show-edit btn'
            %br or
            = link_to '商品の削除', item_path, method: :delete, class:'show-destroy btn--gray'
          - elsif user_signed_in? && current_user.id != @item.seller_id
            - if @item.buyer_id
              %buttun{type: "button", class: 'show-buy btn--gray'} 売り切れです
            - else
              = link_to '商品を購入する', buy_item_path(@item), class:'show-buy btn'
      .show-main__content-top__comment-box
        - if current_user
          %ul.show-main__content-top__comment-box__coments
          = form_with(model: [@item, @comment], local: true) do |f|
            %input.show-main__content-top__comment-box__coments__input{name:"utf8",type:"hidden",value:""}
            %input.show-main__content-top__comment-box__coments__input{name:"authenticity",type:"hidden",value:""}
            
            .show-main__content-top__message
              - if @comments
                - @comments.each do |comment|
                  .show-main__content-top__message__box
                    %ul.show-main__content-top__message__box__kaiwa
                      %li.show-main__content-top__message__box__kaiwa__clearfix-messages

                      - if @item.seller_id != current_user.id
                        .show-main__content-top__message__box__kaiwa__clearfix-messages__name
                          = link_to comment.user.nickname, "/users/#{comment.user_id}"
                          %figure.show-main__content-top__message__box__kaiwa__clearfix-messages__img-right
                            .show-main__content-top__message__box__kaiwa__clearfix-messages__img-right__name
                            %figcaption.show-main__content-top__message__box__kaiwa__clearfix-messages__img-right__description
                              = image_tag 'yu-za-.jpg', width: '50'
                          .show-main__content-top__message__box__kaiwa__clearfix-messages__text
                            .show-main__content-top__message__box__kaiwa__clearfix-messages__text__right
                              = comment.message
                            .show-main__content-top__message__box__kaiwa__clearfix-messages__text__day
                              = icon('far', 'clock', class: 'icon')
                              %time(datetime="#{comment.created_at}")= time_ago_in_words(comment.created_at)+"前"
                              = link_to item_comment_path(params[:id],comment), method: :delete, class: "btn", data: { confirm: "本当にコメントを削除してもよろしいですか？" } do
                                = icon('fas', 'trash-alt', class: 'trash')


                      - else
                        .show-main__content-top__message__box__kaiwa__clearfix-messages__user
                          = link_to comment.user.nickname, "/users/#{comment.user_id}"
                          .show-main__content-top__message__box__kaiwa__clearfix-messages__img-left
                            %figcaption.show-main__content-top__message__box__kaiwa__clearfix-messages__img-left__description
                              = image_tag 'yu-za-.jpg', width: '50'
                          .show-main__content-top__message__box__kaiwa__clearfix-messages__img-left__text
                            .show-main__content-top__message__box__kaiwa__clearfix-messages__img-left__text__left
                              = comment.message
                            .show-main__content-top__message__box__kaiwa__clearfix-messages__img-left__text__time
                              %id= icon('far', 'clock', class: 'c')
                              %time(datetime="#{comment.created_at}")= time_ago_in_words(comment.created_at)+"前"
                              = link_to item_comment_path(params[:id],comment), method: :delete, class: "btn-d", data: { confirm: "本当にコメントを削除してもよろしいですか？" } do
                                = icon('fas', 'trash-alt', class: 'alt')

            .show-main__content-top__comment-box__coments__p
              相手のことを考え丁寧なコメントを心がけましょう。
              %br
              不快な言葉遣いなどは利用制限や退会処分となることがあります。
            = f.text_area :message, class:'show-main__content-top__comment-box__coments__textarea'
            = f.submit "コメントする", class: "show-main__content-top__comment-box__coments__button" do
              %i.fas.fa-comment
        - else
          %strong
            %p ※ コメントの投稿には新規登録/ログインが必要です ※



    %ul.show-main__links
      %li
        =link_to "#",class:"show-main__links__left-btn" do
          %icon.fa.fa-angle-left
          %span
            前の商品
      %li
        =link_to "#",class:"show-main__links__right-btn" do
          %span
            次の商品
          %icon.fa.fa-angle-right
    .show-main__related-items
      =link_to "#",class:"show-main__related-items__link" do
        -# メンズをもっと見る<=カテゴリ呼び出してください
      .product-lists
-# appバナー部分テンプレート
=render "appBanner"
-# フッタ部分テンプレート
=render "footer"
-# 出品ボタン部分テンプレート
=render "displayBtn"
