=render "header"
.show-main
  .show-main__content-left
  .show-main__content-right
    .show-main__content-top

      .show-main__content-top__item-box
        %h2.show-main__content-top__item-box__name
          #{@item.title}
        .show-main__content-top__item-box__body
          %ul.photo-line-ul
            %li.photo-line-li
              = image_tag "#{@images[0].image}", alt: '', class: 'photo-big'
              -if @item.buyer_id.present?
                .photo-line-li__sold
                  .photo-line-li__sold__inner SOLD
          %ul.photo-line-ul-under
            %li.photo-line-li-under
              = image_tag "#{@images[1].image}", alt: '', class: 'photo-small'
            %li.photo-line-li-under
              = image_tag "#{@images[2].image}", alt: '', class: 'photo-small'
            %li.photo-line-li-under
              = image_tag "#{@images[3].image}", alt: '', class: 'photo-small'
        .show-main__content-top__item-box__pricebox
          %span.show-main__content-top__item-box__pricebox__price
            #{converting_to_jpy(@item.price)}
          .show-main__content-top__item-box__pricebox__detail
            %span
              (税込)
            %span
              #{@item.delivery_charge}
        .show-main__content-top__item-box__item-detail
          #{@item.content}
        .show-main__content-top__item-box__table
          %table
            %tbody
              %tr
                %th
                  出品者
                %td
                  #{@seller.nickname}
                %tr
                  %th
                    カテゴリー
                  %td
                    =link_to "#",class:"kategori" do
                      #{@item.category.root.name}
                    %span <br>＞
                    =link_to "#",class:"kategori" do
                      #{@item.category.parent.name}
                    %span <br>＞
                    =link_to "#",class:"kategori" do
                      #{@item.category.name}
                %tr
                  %th
                    発送方法
                  %td
                    #{@item.delivery_method}
                %tr
                  %th
                    商品の状態
                  %td
                    #{@item.status}
                %tr
                  %th
                    配送料の負担
                  %td
                    #{@item.delivery_charge}
                    = @item.delivery_charge == 'recipient' ? '(出品者負担)': '(購入者負担)'
                %tr
                  %th
                    配送元の地域
                  %td
                    =link_to "#",class:"tiiki" do
                      #{@address.find(@item.prefecture_id).name}
                %tr
                  %th
                    配送日の目安
                  %td
                    #{@item.delivery_days}
        .show-main__content-top__item-box__area
          %ul
            =link_to "#",class:"show-main__content-top__item-box__area__optional__btn-left" do
              %li#linke-btn.show-main__content-top__item-box__area__btn-left__link
                %icon.fa.fa-star 
                お気に入り 0
          %ul.show-main__content-top__item-box__area__optional
            =link_to "#",class:"show-main__content-top__item-box__area__optional__btn-right" do
              %li.show-main__content-top__item-box__area__optional__btn-right__link
                %icon.fa.fa-flag 
                不適切な商品の通報

      .show-main__content-top__btn-box 
        - if user_signed_in? && current_user.id == @item.seller_id      
          = link_to '商品の編集', edit_item_path(@item), class:'show-edit btn'
          %br or
          = link_to '商品の削除', item_path, method: :delete, class:'show-destroy btn--gray'
        - elsif user_signed_in? && current_user.id != @item.seller_id
          = link_to '商品を購入する', buy_item_path(@item), class:'show-buy btn'
        - else
        
      .show-main__content-top__comment-box
        %ul.show-main__content-top__comment-box__coments
        =form_with(class:"show-main__content-top__comment-box__coments__form") do |f|
          %input.show-main__content-top__comment-box__coments__input{name:"utf8",type:"hidden",value:""}
          %input.show-main__content-top__comment-box__coments__input{name:"authenticity",type:"hidden",value:""}

          = f.text_area :comment, class:'show-main__content-top__comment-box__coments__textarea'
          .show-main__content-top__comment-box__coments__p
            相手のことを考え丁寧なコメントを心がけましょう。
            %br
            不快な言葉遣いなどは利用制限や退会処分となることがあります。
          = button_tag type: 'submit', class: 'show-main__content-top__comment-box__coments__button' do
            %i.fas.fa-comment 
            コメントする

    %ul.show-main__links
      %li
        =link_to "#",class:"show-main__links__left-btn" do
          %icon.fa.fa-angle-left
          %span
            前の商品
      %li
        =link_to "#",class:"show-main__links__right-btn" do
          
          %span
            次の商品
          %icon.fa.fa-angle-right
    .show-main__related-items
      =link_to "#",class:"show-main__related-items__link" do
        メンズをもっと見る
      .product-lists
-# appバナー部分テンプレート
=render "appBanner"
-# フッタ部分テンプレート
=render "footer"
-# 出品ボタン部分テンプレート
=render "displayBtn"
