=render "items/header"
.mypage-main
  =render "users/sidebar"
  .mypage-main__right
    .mypage-main__right__title
      支払い方法
    .mypage-main__right__content
      .mypage-main__right__content__credit-card
        .mypage-main__right__content__credit-card__title
          クレジットカード一覧
        - if @card.present?
          .mypage-main__right__content__credit-card__content
            .mypage-main__right__content__credit-card__content__info
              = image_tag "#{@card_image}",width:'34',height:'20', alt:'master-card'
              %p.creditcard-info__number
                = "**** **** **** " + @card_info.last4 #クレジットカードの下４桁を表示
              %p.creditcard-info__period 
              = @exp_month + " / " + @exp_year
            = button_to "削除する", card_path(@card), method: :delete, class:"mypage-main__right__content__credit-card__content__delete-btn"
        - else
          .mypage-main__right__content__credit-card__addbtn
            = link_to new_card_path, class:"new-card-btn" do
              %i.far.fa-credit-card
              %span
                クレジットカードを追加する
=render "items/footer"